/venv
/.vscode
/mit-bih-atrial-fibrillation-database-1.0.0/files
/long-term-af-database-1.0.0/files
/mit-bih-normal-sinus-rhythm-database-1.0.0/files
/draws/
/output/autoclf/
/.ipynb_checkpoints
**/__pycache__
/**/*.csv
/**/*.npy
/**/*.png
**/*.csv#